---
import Layout from "../layouts/Layout.astro";
import ButtonLink from "../components/ButtonLink.astro";
import Input from "../components/Input.astro";
import Button from "../components/Button.astro";

const metaTitle = 'Passwort vergessen';

const user = Astro.locals.user;
if (user) {
    return Astro.redirect("/");
}

---

<Layout title={metaTitle}>

    <div class="flex flex-col md:pt-12 pt-4 justify-center items-center mb-20">
        <h1 class="text-center mx-auto">
            Passwort vergessen
        </h1>

        <div class="mt-1 sm:mx-auto sm:w-full sm:max-w-sm px-8 sm:px-0">
            <form class="space-y-6" action="/api/auth/password-forget" method="POST">
                <p id="form-error" class="text-red-500"></p>

                <Input name="email" label="E-Mail" type="email" placeholder="Deine E-mail-Adresse"/>

                <Button name="Password zurücksetzen" />

                <div class="text-center pt-3">
                    <a class="border-b" href="/login">Login</a>
                </div>
            </form>

            <h2 class="text-center uppercase mx-auto mt-20">
                Noch kein Konto?
            </h2>
            <div class="mt-10">
                <ButtonLink href="/signup" name="Registrieren" />
            </div>
        </div>
    </div>

</Layout>

<script>
    const form = document.querySelector("form") as HTMLFormElement;
    form.addEventListener("submit", async (e) => {
        e.preventDefault();
        const formData = new FormData(form);

        // @ts-ignore
        const response = await fetch("/api/auth/password-forget", {
            method: "POST",
            body: formData,
        });

        if (response.redirected) {
            window.location.assign(response.url);
        } else {
            const submitDiv = document.getElementById('submit')
            const errorMessage = document.createElement('div');
            errorMessage.id = 'errorMessage'
            errorMessage.className = 'text-red-400 font-bold'

            errorMessage.innerHTML = await response.text();

            const existingErrorMessage = document.getElementById('errorMessage')
            if (existingErrorMessage != undefined) {
                submitDiv.removeChild(existingErrorMessage)
            }

            submitDiv.appendChild(errorMessage)
        }
    });
</script>
