---
import Layout from '../layouts/Layout.astro';

const metaTitle = 'Regstirung';
---

<Layout title={metaTitle}>
    <h1>Create an account</h1>
    <form method="post" action="/api/user">
        <label for="email">Email</label>
        <input name="email" id="email" /><br />

        <label for="password">Password</label>
        <input type="password" name="password" id="password" /><br />

        <label for="firstName">Firstname</label>
        <input name="firstName" id="firstName" /><br />

        <label for="lastName">Lastname</label>
        <input name="lastName" id="lastName" /><br />

        <label for="department">Department</label>
        <input name="department" id="department" /><br />

        <label for="winner">Winner</label>
        <select name="winner" id="winner">
            <option value=""></option>
            <option value="ALB">Albanien</option>
            <option value="BEL">Belgien</option>
            <option value="DNK">Dänemark</option>
            <option value="DEU">Deutschland</option>
            <option value="ENG">England</option>
            <option value="FRA">Frankreich</option>
            <option value="GEO">Georgien</option>
            <option value="HRV">Kroatien</option>
            <option value="ITA">Italien</option>
            <option value="HUN">Ungarn</option>
            <option value="NLD">Niederlande</option>
            <option value="POL">Polen</option>
            <option value="PRT">Portugal</option>
            <option value="ROU">Rumänien</option>
            <option value="SCO">Schottland</option>
            <option value="SRB">Serbien</option>
            <option value="SVK">Slowakei</option>
            <option value="SVN">Slowenien</option>
            <option value="ESP">Spanien</option>
            <option value="CZE">Tschechien</option>
            <option value="TUR">Türkei</option>
            <option value="UKR">Ukraine</option>
            <option value="AUT">Österreich</option>
            <option value="CHE">Schweiz</option>
        </select>

        <label for="secretWinner">secretWinner</label>
        <select name="secretWinner" id="secretWinner">
            <option value=""></option>
            <option value="ALB">Albanien</option>
            <option value="BEL">Belgien</option>
            <option value="DNK">Dänemark</option>
            <option value="DEU">Deutschland</option>
            <option value="ENG">England</option>
            <option value="FRA">Frankreich</option>
            <option value="GEO">Georgien</option>
            <option value="HRV">Kroatien</option>
            <option value="ITA">Italien</option>
            <option value="HUN">Ungarn</option>
            <option value="NLD">Niederlande</option>
            <option value="POL">Polen</option>
            <option value="PRT">Portugal</option>
            <option value="ROU">Rumänien</option>
            <option value="SCO">Schottland</option>
            <option value="SRB">Serbien</option>
            <option value="SVK">Slowakei</option>
            <option value="SVN">Slowenien</option>
            <option value="ESP">Spanien</option>
            <option value="CZE">Tschechien</option>
            <option value="TUR">Türkei</option>
            <option value="UKR">Ukraine</option>
            <option value="AUT">Österreich</option>
            <option value="CHE">Schweiz</option>
        </select>

        <button>Continue</button>
        <p id="form-error"></p>
    </form>
    <a href="/login">Sign in</a>
</Layout>
<script>
    const errorMessageElement = document.getElementById("form-error")!;

    document.forms[0].addEventListener("submit", async (e) => {
        e.preventDefault();
        errorMessageElement.innerText = "";
        const formElement = e.target as HTMLFormElement;
        const response = await fetch(formElement.action, {
            method: formElement.method,
            body: new FormData(formElement)
        });
        if (response.ok) {
            window.location.href = "/";
        } else {
            errorMessageElement.innerText = (await response.json()).error;
        }
    });
</script>
