---
interface Props {
    href: string;
}

const {href} = Astro.props;
---

<div class="w-6">
    <a href={href}>
        <svg class="h-6 w-6 shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
             stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 12H18M6 12L11 7M6 12L11 17"/>
        </svg>
    </a>
</div>
