---
export interface Props {
    iso: string;
}

const { iso } = Astro.props as Props;
---

<div class="inline-block w-8 align-bottom ml-4 mr-2">
    <img class="inline-block w-6 h-6" src={`/svg/${iso}.svg`}/>
</div>
