---
---

<div class="flex-row flex justify-center">
    <div class="p-4">
        <div class="italic text-4xl font-bold">
            Euro ‘24
        </div>
        <p class="text-sm font-light">a <span class="gilroy text-gray-400 font-extrabold">valantic</span> guessing game</p>
    </div>
</div>
