---
import "../styles/global.css";
import Logo from "../components/Logo.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
const user = Astro.locals.user;

const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="https://em2024.vcec.cloud/favicon.svg" />
    <title>{title} | EM2024 - valantic</title>
</head>
<body class="bg-black text-gray-100">

<header class="p-8 border-b border-b-gray-700">
    <nav class="mx-auto flex  items-center justify-between p-6 lg:px-8" aria-label="Global">
        <Logo/>
        <!--<div class="flex lg:hidden">-->
        <!--    <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">-->
        <!--        <span class="sr-only">Open main menu</span>-->
        <!--        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">-->
        <!--            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />-->
        <!--        </svg>-->
        <!--    </button>-->
        <!--</div>-->
        <!--<div class="hidden lg:flex lg:gap-x-12">-->
        <div class="flex gap-x-12">
            <a href="/" class={`text-sm ${currentPath === '/' ? 'pb-1 px-4 border-b-2 border-b-red-500' : 'text-zinc-400'}`}>Dashboard</a>
            <a href="/table" class={`text-sm ${currentPath === '/table' ? 'px-4 pb-1 border-b-2 border-b-red-500' : 'text-zinc-400'}`}>Tabelle</a>
            <a href=`/user/${user.id}` class={`text-sm ${currentPath === `/user/${user.id}` ? 'px-4 pb-1 border-b-2 border-b-red-500' : 'text-zinc-400'}`}>Mein Konto</a>
            <a href="/api/auth/logout" class="text-sm text-zinc-400">Abmelden</a>
        </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <!--<div class="lg:hidden" role="dialog" aria-modal="true">-->
    <!--    &lt;!&ndash; Background backdrop, show/hide based on slide-over state. &ndash;&gt;-->
    <!--    <div class="fixed inset-0 z-10"></div>-->
    <!--    <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-black px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-200">-->
    <!--        <div class="flex items-center justify-between">-->
    <!--            <Logo/>-->
    <!--            <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">-->
    <!--                <span class="sr-only">Close menu</span>-->
    <!--                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">-->
    <!--                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />-->
    <!--                </svg>-->
    <!--            </button>-->
    <!--        </div>-->
    <!--        <div class="mt-6 flow-root">-->
    <!--            <div class="-my-6 divide-y divide-gray-500/10">-->
    <!--                <div class="space-y-2 py-6">-->
    <!--                    <a href="/" class="-mx-3 block rounded-lg px-3 py-2 text-base hover:bg-gray-50">Dashboard</a>-->
    <!--                </div>-->
    <!--                <div class="py-6">-->
    <!--                    <a href="/api/auth/logout" class="-mx-3 block rounded-lg px-3 py-2.5 text-base hover:bg-gray-50">Abmelden</a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
</header>

<slot />
</body>
</html>

